.App {
  text-align: center;
}

.App-header {
  height: 70px;
  padding: 20px;
}

.App-intro {
  font-size: large;
  padding: 20px 50px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
